*{
    margin: 0;
    padding: 0;
}
html { 
    font-family: 'Active';
    color: #fff;
}
/* Font page */
body { 
    background: linear-gradient(#226f54, #9cfaa9);
}

/* NavBar */
.dp-navbar{
    background-color: #226f54;
    color: #ffffff;
    font-family: 'Active';

}
.dp-logoNavBar { 
    height : 90px;
}
.nav-link { 
    color: #ffffff !important;
}
.UberEats img { 
    max-height: 25px;
}

/* Footer */
footer {
    background-color: #226f54;
    color: #ffffff;
}
.logoFooter { 
    max-height: 100px;
}
.textFooter { 
    font-family: 'Poppins';
    color: #ffffff;
}
.lienTel { 
    text-decoration: none;
    color: #ffffff;
}
