body{
    background: linear-gradient(#226f54, #9cfaa9);
}

h1,h3{
    font-family: 'Active';
    color: #FFFFFF;

}

main{
    margin-top: 9vh;
}

.dp-img{
    max-width: 25vw;
    max-height: 25vh;
}

.objectFitCover {
    width: 100px;
    height: 100px;
    object-fit: cover;
    }